# SecondSpectrum

## Load local files

In [3]:
from kloppy import secondspectrum

dataset = secondspectrum.load(
    meta_data="../../kloppy/tests/files/second_spectrum_fake_metadata.xml",
    raw_data="../../kloppy/tests/files/second_spectrum_fake_data.jsonl",
    
    # Optional arguments
    additional_meta_data="../../kloppy/tests/files/second_spectrum_fake_metadata.json",
    sample_rate=1/25,
    limit=100,
    coordinates="secondspectrum",
    only_alive=True
)

dataset.to_pandas().head()

,period_id,timestamp,ball_state,ball_owning_team_id,ball_x,ball_y,20grw_x,20grw_y,20grw_d,20grw_s,...,56zeu_d,56zeu_s,27cl51_x,27cl51_y,27cl51_d,27cl51_s,eh90mu_x,eh90mu_y,eh90mu_d,eh90mu_s
0,1,160.00,alive,456,48.434473,-16.681311,46.299561,-24.536171,None,None,...,None,None,46.646914,25.246787,None,None,5.033404,-21.188707,None,None
1,2,681.72,alive,123,23.364446,-16.856017,8.861703,-33.088368,None,None,...,None,None,-48.850250,-16.447842,None,None,15.112902,12.965995,None,None