# SkillCorner

## Load local files

In [7]:
from kloppy import skillcorner

dataset = skillcorner.load(
    meta_data="../../kloppy/tests/files/skillcorner_match_data.json",
    raw_data="../../kloppy/tests/files/skillcorner_structured_data.json",
    
    # Optional arguments
    sample_rate=1/10,
    limit=100,
    coordinates="skillcorner",
    include_empty_frames=False
)

dataset.to_pandas().head()

,period_id,timestamp,ball_state,ball_owning_team_id,ball_x,ball_y,home_22_x,home_22_y,home_22_d,home_22_s,...,away_anon_304_d,away_anon_304_s,home_anon_368_x,home_anon_368_y,home_anon_368_d,home_anon_368_s,home_anon_423_x,home_anon_423_y,home_anon_423_d,home_anon_423_s
0,1,12.0,None,NaN,18.887029,30.037350,14.195641,23.489013,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,13.0,None,NaN,13.514701,25.827027,14.230466,15.453939,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,14.0,None,NaN,16.835040,27.427233,15.328696,17.867260,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,15.0,None,NaN,11.656880,24.721404,13.642248,22.210971,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,16.0,None,103.0,7.426918,30.572856,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Load remote files

In [8]:
from kloppy import skillcorner

dataset = skillcorner.load(
    meta_data="https://raw.githubusercontent.com/SkillCorner/opendata/master/data/matches/4039/match_data.json",
    raw_data="https://raw.githubusercontent.com/SkillCorner/opendata/master/data/matches/4039/structured_data.json",
    
    # Optional arguments
    sample_rate=1/10,
    limit=100,
    coordinates="skillcorner",
    include_empty_frames=False
)

dataset.to_pandas().head()

,period_id,timestamp,ball_state,ball_owning_team_id,ball_x,ball_y,home_47_x,home_47_y,home_47_d,home_47_s,...,home_31_d,home_31_s,home_anon_471_x,home_anon_471_y,home_anon_471_d,home_anon_471_s,home_anon_501_x,home_anon_501_y,home_anon_501_d,home_anon_501_s
0,1,1.0,None,NaN,14.693770,-0.907936,-4.630710,-20.740084,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2.0,None,NaN,14.634828,-0.030155,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,13.0,None,40.0,37.410470,-19.993496,19.580474,-19.368974,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,14.0,None,40.0,42.215165,-22.637840,26.785449,-18.257435,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,15.0,None,40.0,42.433060,-28.680917,31.769383,-22.166959,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Load open data

In [9]:
from kloppy import skillcorner

dataset = skillcorner.load_open_data(
    match_id=4039,
    
    # Optional arguments
    sample_rate=1/10,
    limit=100,
    coordinates="skillcorner",
    include_empty_frames=False
)

dataset.to_pandas().head()

,period_id,timestamp,ball_state,ball_owning_team_id,ball_x,ball_y,home_47_x,home_47_y,home_47_d,home_47_s,...,home_31_d,home_31_s,home_anon_471_x,home_anon_471_y,home_anon_471_d,home_anon_471_s,home_anon_501_x,home_anon_501_y,home_anon_501_d,home_anon_501_s
0,1,1.0,None,NaN,14.693770,-0.907936,-4.630710,-20.740084,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2.0,None,NaN,14.634828,-0.030155,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,13.0,None,40.0,37.410470,-19.993496,19.580474,-19.368974,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,14.0,None,40.0,42.215165,-22.637840,26.785449,-18.257435,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,15.0,None,40.0,42.433060,-28.680917,31.769383,-22.166959,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN